body {
    background-color: rgb(232, 246, 253);
}

/*.head_title {*/
/*    width: 100%;*/
/*    height: 60px;*/
/*}*/

.grid_view {
    width: 100%;
    height: 1080px;
    /* margin: 20px calc(50% - 600px); */
    /* padding-bottom: 40px; */
    display: grid;
    /*划分列*/
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*划分行*/
    grid-template-rows: 80px 200px 300px 80px 300px;
    /*行列间距*/
    grid-column-gap: 15px;
    grid-row-gap: 5px;
    /*内容位置 居中是按网格数计算居中不是按长度*/
    /* justify-items: left; */
    /* align-items: center; */
    grid-template-areas: "item1 item1 item1 item1" "item2 item3 item4 item5" "item6 item6 item6 item7" "item8 item8 item8 item8" "item9 item9 item9 item10"
}

.grid_view > div {
    background-color: white;
    border-radius: 5px;
    /*box-shadow: 2px lightgtay;*/
    margin: 10px 0;
    padding: 10px;
}

.dynamic_data_watch {
    grid-area: item1;
}

.service_company {
    grid-area: item2;

}

.present_person {
    grid-area: item3;
    margin-left: 20px;
}

.attend_situation {
    grid-area: item4;
    margin-left: 20px;
}

.prew_work_train {
    grid-area: item5;
    margin-left: 20px;
}

.attend_situation > span, .prew_work_train > span {
    width: 10%;
    padding-left: 10px;
}

.data_static {
    grid-area: item6;
    display: flex;
    justify-content: space-around;
}

.data_static>div{
    width:100%;
}
.warn_notice {
    grid-area: item7;
}

.dynamic_data_analyze {
    grid-area: item8;
}

.dynamic_data_content {
    grid-area: item9;
    width:calc(100% - 20px);
    height:calc(100% - 40px);
}
.dynamic_data_content>div{
    /*width:calc(100% - 20px);*/
    /*height:calc(100% - 20px);*/
    width:100%;
    height:100%;
}
.data_static_summary {
    grid-area: item10;
}

/* layui进度条 */
.layui-progress, .layui-progress-bar {
    height: 10px
}

.layui-progress {
    width: 85%;
    display: inline-block;
    /* position:static!important; */
}
