
body {
    margin: 0;
    width: 100%;
    min-width: 1200px;
    height: 936px;
    font-family: PingFangSC-Regular;
    font-weight: bold;
    font-size: 17px;
    flex: 1 0 auto;
}

div {
    margin: 0;
}

body a {
    text-decoration: none;


}

.dynamic_data_watch {
    margin-top: 22px;
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
    /*font-weight: bold;*/
    letter-spacing: 1px;
    color: #282828;
}

.dynamic_data_watch > div {
    width: 6px;
    height: 18px;
    margin: 0 0.76% 0 2.12%;
    background-color: #003d83;
}

.dynamic_data_watch > span {
    display: block;

}

/*第一行模块*/
.module_line1 {
    width: 100%;
    height: 150px;
    margin-top: 21px;
}

.module_line1 > a {
    display: block;
}

.service_company, .present_person, .attend_situation, .prew_work_train {
    margin-left: 2.88%;
    width: 22.35%;
    height: 150px;
    box-shadow: 1px 1px 46px 8px rgba(7, 124, 158, 0.08);
    border-radius: 3px;
    float: left;
}

.present_person {
    margin-left: 1.58%;
}

.item1_title, .item2_title {
    margin: 18px 0 0 7.07%;
}

.item1_title > span, .item2_title > span {
    font-size: 14px;
}

.item1_cont {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item1_cont > span:nth-child(1) {
    display: block;
    height: 30px;
    line-height: 30px;
    margin-left: 10%;
    font-size: 30px;
    color: #17489d;
}

.item1_cont > span:nth-child(2) {
    display: block;
    /*height: 53px;*/
    font-size: 53px;
    font-weight: 100;
    color: #aaacb2;

}

.item1_cont > div {
    display: flex;
    height: 30px;
    margin: 28px 0 0 0.98%;
    align-items: center;

}

.item1_cont > div > span:nth-child(1) {
    display: block;
    font-size: 15px;
}

.item1_cont > div > span:nth-child(2) {
    display: block;
    font-size: 25px;
    color: #fec453;
}

.attend_situation, .prew_work_train {
    margin-left: 1.58%;
}

.attend_situation > span, .prew_work_train > span {
    margin-left: 0.54%;
    font-size: 16px;
    color: #17489d;
}

.item2_cont1 {
    height: 30px;
    line-height: 30px;
    margin: 20px 0 5px 27%;

}

.item2_cont1 > span:nth-child(1) {
    display: inline-block;
    font-size: 30px;
    color: #17489d;
}

.item2_cont1 > span:nth-child(n+2) {
    display: inline-block;
    font-size: 25px;
    color: #17489d;
}

.item2_cont2 {
    margin: 0 0 0 7.07%;
    font-size: 15px;
}

/*第二行模块*/
.module_line2 {
    width: 100%;
    height: 270px;
    margin-top: 27px;
}

.data_static {
    /*display: block;*/
    width: 70.31%;
    height: 270px;
    margin: 0 0 0 2.88%;
    border-radius: 3px;
    box-shadow: 1px 1px 46px 8px rgba(7, 124, 158, 0.08);
    float: left;
}

.data_static > a {
    display: block;
    width: 33.33%;
    height: 270px;
    float: left;
}

.warn_notice {
    width: 22.35%;
    height: 270px;
    margin: 0 0 0 1.58%;
    box-shadow: 1px 1px 46px 8px rgba(7, 124, 158, 0.08);
    border-radius: 3px;
    float: left;
}

.cover_info, .train_info, .paid_info {
    width: 100px;
    height: 49px;
    font-size: 12px;
    background-color: blue;
    z-index: 200;
}

.cover_info {
    position: absolute;
    top: 350px;
    left: 19%;
}

.train_info {
    position: absolute;
    top: 350px;
    left: 42.4%

}

.paid_info {
    position: absolute;
    top: 350px;
    left: 65.7%


}

.notice_title {
    width: 100%;
    height: 52px;
}

.notice_title > a:nth-child(1) {
    display: block;
    margin: 18px 0 0 5.60%;
    font-size: 16px;
    font-family: PingFangSC-Regular !important;
    float: left;
}

.notice_title > a:nth-child(2) {
    display: block;
    margin: 11px 0 0 57%;
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #3e78dc;
    border-radius: 4px;
    font-size: 14px;
    color: #ffffff;
    float: left;
}

.warn_notice > a {
    display: block;
    width: 100%;

    font-weight: 500;
}

/*.warn_notice > a > span{*/
/*    display: inline-block;*/
/*}*/
.warn_notice > a > span:nth-child(1) {
    margin-left: 4.38%;
    margin-right: 5.59%;

}

.warn_notice > a > span:nth-child(3) {
    margin-left: 42%;

}


.warn_notice > a:nth-child(2n+1) {
    background-color: #ebf1fb;
    height: 36px;
    line-height: 36px;
}

.warn_notice > a:nth-child(2n) {
    height: 50px;
    line-height: 50px;
}

/*第三行模块*/
.module_line3 {
    width: 100%;
    height: 339px;
    margin-top: 22px;
}

.dynamic_data_content {
    width: 70.26%;
    height: 339px;
    margin-left: 2.88%;
    background-color: #ffffff;
    box-shadow: 1px 1px 46px 8px rgba(7, 124, 158, 0.08);
    border-radius: 3px;
    float: left;
}


.data_title {
    width: 100%;
    height: 87px;
    font-weight: 500;
}

.data_title > a {
    display: block;
    width: 133px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    font-size: 16px;
    border-radius: 15px;
    border: solid 1px #c5c5c5;
    float: left;
}

.data_title > a:nth-child(1) {
    margin: 15px 0 0 21.86%;

}

.data_title > a:nth-child(n+2) {
    margin: 15px 0 0 2.50%;

}

.switch_date {
    display: none;
}

.switch_date > a {
    display: block;
    width: 2.39%;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    border: solid 1px #3e78dc;
    float: left;
    text-align: center;
    margin-top: 16px;
}

.switch_date > a:nth-child(1) {
    border-radius: 15px 0px 0px 0.82%;
    color: #3e78dc;
    margin-left: 278px;

}

.switch_date > a:nth-child(2) {
    background-color: #3e78dc;
    border-radius: 0px 0.82% 15px 0;
    color: #ffffff;
}

.choose_date {
    display: block;
    text-align: center;
    width: 150px;
    height: 36px;
    background-color: #f2f3f4;
    border-radius: 6px;
    margin: 15px 0 0 10.98%;
    float: left;

}

#data_table {
    width: 100%;
    height: 266px;
}

.data_static_summary {
    width: 22.35%;
    height: 339px;
    margin-left: 1.58%;
    background-color: #ffffff;
    box-shadow: 1px 1px 46px 8px rgba(7, 124, 158, 0.08);
    float: left;
}

.summary_title {
    width: 100%;
    height: 59px;
    line-height: 59px;
    font-size: 17px;
}

.summary_title > span {
    margin-left: 4.38%;
    margin-right: 48.5%;
}

.summary_title > a {
    font-size: 14px;
    color: #3e78dc;
}

.data_static_summary > a {
    display: block;
    width: 100%;
    height: 55px;
    line-height: 55px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}

.data_static_summary > a > img {
    width: 21px;
    height: 21px;
    padding: 17px 8.76% 17px 11.44%;
}

.data_static_summary > a > span:nth-child(2) {
    display: block;
    width:100px;
    flex:1 0 auto;

}
.data_static_summary > a > span:nth-child(3) {
    display: block;
    width:100px;
    text-align: center;
    flex:1 1 auto;
    color: #17489d;
}
.data_static_summary > a > span:nth-child(4) {
    display: block;
    width:40px;
    flex:1 0 auto;
}
/* layui进度条 */
.layui-progress, .layui-progress-bar {
    height: 10px
}

.layui-progress {
    width: 72.51%;

    margin-left: 7.07%;
    display: inline-block;

    /* position:static!important; */
}
